.idea/
*.iml

# Terraform & Schematics files
*.tfstate*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.temp/
/workspace
dist/
workspace.json
*.tfvars
.terraform.d/
*/.terraform
*/.terraform.lock*